@{
    ViewData["Title"] = "ONLINE LIBRARY";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Online Library</p>
    <img src="https://loveopium.ru/content/2017/06/library/00.jpg"
         width="1200"
         height="500" />
</div>
